.footer {
  display: flex;
  min-height: 5rem;
  margin-top:auto;
  align-items: center;
  justify-content: center;
  margin-top: auto !important;
  width: 100%;
}
.footerBody {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.footerItems {
  color: rgb(23, 113, 248);
}
@media (max-width: 580px) {
  .footerBody {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
